.BlogList
  position relative
  overflow hidden

  > span
    white-space nowrap

    > *
      white-space normal

  @media (orientation landscape)
    margin-top 50%

  .list
    display inline-block
    vertical-align top
    border-spacing 0 8px
    border-collapse separate
    width 100%
    padding-left 6%

    @media (orientation portrait)
      width 88%

.blogListTransition-enter
  opacity 0
  transform translate3d(100%,0,0)

.blogListTransition-enter.blogListTransition-enter-active
  opacity 1
  transform translate3d(0,0,0)
  transition transform 0.3s, opacity 0.3s

.blogListTransition-leave
  opacity 1
  transform translate3d(-100%,0,0)

.blogListTransition-leave.blogListTransition-leave-active
  opacity 0
  transform translate3d(-200%,0,0)
  transition transform 0.3s,  opacity 0.3s
