@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,400i,700,700i')

@font-face
  font-family 'ChunkFive'
  src url('/fonts/chunkfive.woff') format('woff')
  font-weight: normal
  font-style: normal

html
  overflow-y scroll
  overflow-x hidden

body
  margin 0
  transition background-color 0.4s
  overflow hidden

  *
  *:before
  *:after
    box-sizing border-box

.AppView
  font-family 'Roboto', sans-serif
  color white
  margin 0
  transition color 0.2s

  [data-theme="light"] &
    color rgba(black, 0.8)

p
  margin 0 0 1.5em

h2
  font-size 1.2em
  font-weight normal

h3
  font-size 1.1em
  font-weight normal

h4
h5
h6
  font-size 1em
