.Live

  .Sidebar

    article
      padding-left 0
      padding-right 0
      margin 40% 6% 30px

    h1
      font-size 36px
      line-height 1.2
      margin 0
      font-weight normal
      font-family 'ChunkFive', sans-serif
      margin 0 0 8px

      + date
        display block
        font-family 'ChunkFive', sans-serif
        font-size 24px
        line-height 1.5
        opacity 0.6
        margin-bottom 24px

  .details
    padding 0
    margin 0
    list-style none
    display table
    border-collapse separate
    border-spacing 0 1em
    width 100%

    ul
      padding 0
      margin 0
      list-style none

    > li
      display table-row

      > label
        font-family 'ChunkFive', sans-serif
        font-size 16px

      > *
        display table-cell
