.Marker
  display inline-block
  padding 10px
  text-align center
  white-space nowrap
  transform translateX(-50%)
  font-size 14px
  font-family BodyFont, sans-serif
  margin-top 12px
  border-radius 2px

  &:before
    content ''
    display block
    width 16px
    height 16px
    transform rotate(45deg)
    background-color inherit
    position absolute
    top -8px
    left 50%
    margin-left -8px

  &:after
    content ''
    display block
    position absolute
    top 100%
    left 1px
    right 1px
    height 2px
    background-color rgba(black, 0.065)
    border-radius 0 0 2px 2px
