.Menu
  position fixed
  margin 20px 0 0
  right 0
  z-index 1
  font-family 'ChunkFive', sans-serif
  font-weight normal
  text-align right

  ul
    list-style none
    margin 0
    padding 0
    transition transform 0.2s

    &.open a
      transform translateX(0)

  li
    text-transform lowercase
    white-space nowrap

  a
    position relative
    display inline-block
    font-size 18px
    line-height 1.333em
    color white
    text-decoration none
    padding 0 15px 0 8px
    transition color 0.2s, transform 0.2s
    margin 0.1em 0
    transform translateX(100%)

    &.active
      transform translateX(0)

    [data-theme="light"] &
      color rgba(black, 0.8)

    &:after
      content ''
      display block
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background white
      transform translateX(100%)
      transition color 0.2s, transform 0.2s
      z-index -1

      [data-theme="light"] &
        background rgba(black, 0.8)

    &:not(.active):hover
      color inherit
      transition-delay 0ms !important

      &:after
        transform translateX(0)

    &.active
      color inherit
      font-size 1.333em
      background white
      padding 3px 15px 3px 8px

      [data-theme="light"] &
        background rgba(black, 0.8)
