.Music

  .Main
    overflow hidden
    line-height 0

    @media (orientation landscape)
      position fixed
      height 100vh
      left 0
      top 0

      img
        height 100vh

    @media (orientation portrait)
      position relative
      left 0
      top 0

      img
        width 100%

    img
      position relative
      left 50%
      transform translateX(-50%)
      user-select none
      pointer-events none

    blockquote
      position absolute
      bottom 24px
      right 20px
      margin 0
      z-index 2
      font-size 18px
      line-height 1
      letter-spacing 0.75px

      div
        &:empty
          display block
          float none
          background-color transparent !important
          box-shadow none
          height 0
          padding 0.5em 0 0

        @media (orientation landscape)
          float right
          clear both
          padding 0 0.4em
          line-height 1.5
          box-shadow 2px 3px 0 rgba(black, 0.12)
          background white

        @media (orientation portrait)
          display inline

          &:after
            content ' '

  .Sidebar

    article
      padding-left 0
      padding-right 0
      margin-top 0
      padding-top 0

    section
      margin 0 auto
      margin-top 5px

      &:first-of-type
        margin-top 0

      > ul
        margin 0
        padding 0
        list-style none

    h2
      font-family TitleFont, sans-serif
      text-align center
      font-size 26px
      line-height 1
      padding 3.5% 6%
      margin 0 0 2.5%

      @media (orientation landscape) and (max-width 768px)
        text-align left
