.Video

  @media (orientation portrait)
    height 100vh
    display flex
    flex-direction column

  .Main
    overflow hidden

    @media (orientation landscape)
      position fixed
      height 100vh
      left 0
      top 0

      .transitioner
        height 100%
        position relative

      iframe
        position relative
        width 100%
        height 100%

    @media (orientation portrait)
      position relative
      left 0
      top 0
      flex 1

      .transitioner
      .transitioner > span
        display block
        position relative
        height 100%

      iframe
        width 100%
        height 100%
        position absolute
        top 0
        right 0
        bottom 0
        left 0

  .Sidebar

    @media (orientation portrait)
      flex 0

    article
      padding-left 0
      padding-right 0
      margin 40% 6% 0

      @media (orientation portrait)
        margin-top 0
        padding-top 28%

    h1
      font-size 36px
      line-height 1.2
      margin 0
      font-weight normal
      font-family 'ChunkFive', sans-serif
      margin 0 0 8px

      @media (max-width 568px)
        font-size 28px

      @media (max-width 320px)
        font-size 24px

      + date
        display block
        font-family 'ChunkFive', sans-serif
        font-size 24px
        line-height 1.5
        opacity 0.6
        margin-bottom 1em

        @media (max-width 568px)
          font-size 20px

        @media (orientation portrait)
          margin-bottom 0.5em

    section
      margin-top 4em
